# Configuración de Base de Datos Local
POSTGRES_USER=escribe_tu_usuario_aqui
POSTGRES_PASSWORD=escribe_tu_contraseña_aqui
DB_URL=jdbc:postgresql://localhost:55432/nutria_db

# Credenciales de pgAdmin
PGADMIN_EMAIL=tu_correo
PGADMIN_PASSWORD=tu_password